@import "tailwindcss";
.print-safe * {
  color: rgb(0, 0, 0) !important;
  background-color: rgb(255, 255, 255) !important;
  border-color: rgb(0, 0, 0) !important;
}


@media print {
  body * {
    visibility: hidden;
  }

  #employeeTable,
  #employeeTable * {
    visibility: visible;
  }

  #employeeTable {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }

  .print\:hidden {
    display: none !important;
  }
}
